
:root {
    --primery-btn-color: #FF0000;
    --secondary-btn-color: #55B7E7;
}

button.blog-button,
button.blog-button-secondary {
    padding: 12px 32px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all .4s ease;
    cursor: pointer;
}

button.blog-button {
    background-color: var(--primery-btn-color);
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: lighter;
}

button.blog-button-secondary {
    background-color: transparent;
    border: 1px solid var(--secondary-btn-color);
    color: var(--secondary-btn-color);
    border-radius: 24px;
}

button.blog-button-secondary:hover {
    background-color: var(--secondary-btn-color);
    color: white;
}

.blog-button-sm {
    display: block;
    width: 100%;
}

@media (min-width: 960px) {

    .blog-button-sm {
        display: inline-block;
        width: auto;
    }
    
}
